.login-page {
background-color: #2c16313e;

display: flex;

justify-content: center;

align-items: center;

padding: 40px 20px;

}

.login-box {
    width: 400px;

    background-color: #0B1F3A;

    padding: 40px;

    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

    color: white;
}

.login-box h1 {
text-align: center;

margin-bottom: 30px;

font-size: 32px;

}

.input-group {
margin-bottom: 20px;
}

.input-group label {
    display: block;

    margin-bottom: 8px;

    font-weight: 600;

    color: white;
}

.input-group input {
width: 100%;

padding: 12px;

border: 1px solid #ccc;

border-radius: 7px;

font-size: 15px;

box-sizing: border-box;

outline: none;

}

.input-group input {
border-color: #333;
}

.login-btn {
    width: 100%;

    padding: 12px;

    margin-top: 5px;

    background-color: #2F80ED;

    color: white;

    border: none;

    border-radius: 7px;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}

.login-btn:hover {
    background-color: #1F6FD1;
}