.home {
    background-color: #f4f4f4;
    min-height: 100vh;
    padding-bottom: 60px;
}

.banner {
    height: 380px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background: linear-gradient(135deg, #061830, #2764a6);

    color: white;
}

.banner-content h1 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 15px;
}

.banner-content p {
    font-size: 20px;
    color: #ddd;
}


.hall-navigation {
    max-width: 700px;

    margin: 40px auto 30px;

    padding: 0 20px;

    display: flex;

    gap: 20px;
}

.hall-button {
    flex: 1;

    padding: 15px 25px;

    font-size: 18px;

    border-radius: 8px;

    cursor: pointer;
}


.hall-section {
    max-width: 1000px;

    margin: 0 auto;

    padding: 40px;

    background-color: white;

    border-radius: 12px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    text-align: center;
}